html, body, #root{
    height: 100%;
    margin: 0;
}
.homePage{
    position: relative;
}
.hhdiv{
    height: 20%;
    position: relative;
    z-index: 1;
}
.home{
    margin-top: 5%;
    position: relative;
    z-index: 1;
}
.sub-div{
    position: relative;
}
.form{
    background-color: rgb(173, 247, 247);
    padding-bottom: 5%;
    display: inline-block;
    padding-top: 5%;
    padding-inline: 5%;
    height: 60%;
    width: 30%;
    margin: 5%;
}
.forml{
    background-color: rgb(173, 247, 247);
    padding-bottom: 5%;
    display: inline-block;
    padding-top: 5%;
    padding-inline: 5%;
    height: 60%;
    width: 30%;
    margin: 5%;
}
@media screen and (max-width: 1341px){
    .form{
        width: 35%;
    }   
}
@media screen and (max-width: 1053px){
    .form{
        width: 40%;
    }   
}
@media screen and (max-width: 855px){
    .form{
        width: 45%;
    }   
}
/* @media screen and (max-width: 720px){
    .form{
        width: 50%;
    }   
}
@media screen and (max-width: 622px){
    .form{
        width: 55%;
    }   
}
@media screen and (max-width: 547px){
    .form{
        width: 60%;
    }   
}
@media screen and (max-width: 489px){
    .form{
        width: 75%;
    }   
} */
.icon{
    background-color: blue;
    padding-inline: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 50%;
}
.input{
    padding-top: 3.5%;
    padding-bottom: 1.5%;
    width: 85%;
    margin: 0%;
    border: none;
}
.nav-bar{
    background-color: black;
    color: white;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}
.nav-icons{
    
    display: flex;
    justify-content: end;
    gap: 10%;
}
/* @media screen and (max-width:1332px) {
    .nav-icons{
        width: 88%;
    }
}
@media screen and (max-width:1063px) {
    .nav-icons{
        width: 86%;
    }
}
@media screen and (max-width:849px) {
    .nav-icons{
        width: 84%;
    }
}
@media screen and (max-width:706px) {
    .nav-icons{
        width: 82%;
    }
}
@media screen and (max-width:604px) {
    .nav-icons{
        width: 80%;
    }
}
@media screen and (max-width:528px) {
    .nav-icons{
        width: 78%;
    }
}
@media screen and (max-width:469px) {
    .nav-icons{
        width: 76%;
    }
}
@media screen and (max-width:400px) {
    .nav-icons{
        width: 72%;
    }
} */
.iconnav{
    transition: 0.3s;
}
.iconnav:hover{
    color: rgb(6, 6, 245);
    transition: 0.3s;
}
.search-bar{
    height: 75%;
    margin-top: 10px;
    width: 300px;
    transition: all 0.3s ease;
}
.search-bar:focus{
    outline: none;
    box-shadow: 1px 1px 10px skyblue,-1px -1px 10px skyblue;
}
.todo{
    margin-left: 20px;
}
.add-icon{
    position: fixed;
    padding-inline: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    bottom: 10%;
    right: 5%;
    z-index: 2;
    background-color: black;
    color: rgb(7, 245, 39);
    border: none;
    transition: 0.3s;
}
.add-icon:hover{
    padding-inline: 35px;
    padding-top: 17px;
    padding-bottom: 19px;
    box-shadow: 3px 3px 30px rgb(60, 245, 3),-3px -3px 30px rgb(60, 245, 3);
    transition: 0.3s;
}
.add-icon-after{
    position: fixed;
    padding-inline: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: 10%;
    right: 5%;
    z-index: 2;
    background-color: black;
    color: red;
    border: none;
    transition: 0.3s;
}
.add-icon-after:hover{
    padding-inline: 35px;
    padding-top: 17px;
    padding-bottom: 17px;
    box-shadow: 3px 3px 30px red,-3px -3px 30px red;
    transition: 0.3s;
}
.screen{
    background-color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.9;
}
.main-div{
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.addTab{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    align-items: center;
}
.taskInput{
    margin-top: 5%;
    width: 500px;
    border: none;
}
.taskInput:focus{
    outline: none;
    box-shadow: 2px 2px 10px green,-2px -2px 10px green;
    transition: 0.3s;
}
.todotask{
    border: 2px black solid;
    width: 500px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 600px){
    .taskInput{
        width: 300px;
    }
    .taskInput::placeholder{
        font-size: smaller;
    }
    .search-bar{
        width: 150px;
        height: 30px;
        margin-top: 20px;
    }
    .todo{
        margin-left: 0%;
    }

}
.button{
    margin-top: 3%;
    background: rgb(5, 247, 5);
    border: rgb(5,247,5);
    transition: 0.3s;
}
.button:hover{
    box-shadow: 2px 2px 10px green,-2px -2px 10px green;
    transition: 0.3s;
}
.todotask{
    border: 2px black solid;
    overflow: visible;
    width: 500px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}
.taskcheckbox{
    height: 20px !important;
    width: 20px !important;
}
.homeheader{
    color: white;
}
.homebutton{
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    transition: 0.3s;
}
.homebutton:hover{
    border: 1px black solid;
    color: black;
    background-color: white;
    transition: 0.3s;
}
.delete-icon{
    font-size: 25px;
    transition: 0.3s;
}
.delete-icon:hover{
    font-size: 35px !important;
    transition: 0.3s;
}
@media screen and (max-width: 900px){
    .todotask{
        width: 300px;
    }
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    position: absolute;
    height: 100%;
    width: 270px;
    top: 0%;
    right: 0%;
    z-index: 6;
    overflow: hidden;
    background-color: black;
    transition: all 0.3s ease;
}

.profile-main-icon{
    color: white;
    font-size: 100px;
    background-color: gray;
    border-radius: 100%;
    padding-inline: 25px;
}

.arrow-icon{
    align-self: flex-start;
    color: white;
    font-size: 40px;
    transition: all 0.3s ease;
}

.arrow-icon:hover{
    color: aquamarine;
    font-size: 43px;
}

.profile-name{
    color: white;
    font-weight: bold;
}

.completed{
    color: white;
    display: inline;
}

.completed-count{
    color: #ffd700;
    text-shadow: 0 0 5px #ffd700,
                 0 0 10px #ffd700,
                 0 0 20px #ffb700;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    display: inline;
    text-decoration: none;
    animation: goldGlow 2s infinite alternate;
}

@keyframes goldGlow{
    from{
        text-shadow: 0 0 5px #ffd700,0 0 10px #ffb700,0 0 20 #ff9900;
    }
    to{
        text-shadow: 0 0 20px #ffd700, 0 0 40px #ffb700, 0 0 60px #ff9900;
    }
}
.unCompleted{
    color: white;

}
.unCompleted-count{
    color: red;
    text-shadow: 0 0 5px red,
                 0 0 10px red,
                 0 0 20px red;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    display: inline;
    text-decoration: none;
    animation: redGlow 2s infinite alternate;
}

@keyframes redGlow{
    from{
        text-shadow: 0 0 5px red,0 0 10px red,0 0 20 rgb(247, 92, 92);
    }
    to{
        text-shadow: 0 0 20px red, 0 0 40px red, 0 0 60px #f16950;
    }
}
.checkin:hover{
    color: blue;
    transition: all 0.3s ease;
    cursor:  pointer;
}
.img{
    margin-top: 0%;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.credPage{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: 60;
}
@media screen and (max-width:900px) {
    .form{
        margin: 0%;
        padding-top: 20%;
        padding-bottom: 23%;
        width: 100%;
        height: fit-content;
        vertical-align: 0;
    }
    .forml{
        margin: 0%;
        padding-top: 26%;
        padding-bottom: 35%;
        width: 100%;
    }
    .heading{
        font-size: xx-large;
        text-align: center;
    }
}
.loading{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 0;
}
.fsize-4{
    font-size: 24px;
}
.fsize-7{
    font-size: 15px;
}
.task-completed{
    text-decoration: line-through;
    color: gray;
}
.task-uncompleted{
    text-decoration: none;
    color: black;
}
.formui{
    margin-top: 20%;
}